.topnav {
    box-sizing:border-box;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    padding-top: 50px;
    padding-right: 10vw;
    padding-left: 5px;
}

fieldset {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#log {
    width: 75px;
    position: absolute;
    position: fixed;
    top:0;
    left:0;
    z-index: 0;
    box-shadow: 1px 1px 1px 1px grey
}

.topics{
    width: 50vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: medium;
    border-radius: 3px;
    border-color: #340D09;
    border-style: double;
    text-align: center;
    box-shadow: 1px 1px 1px 1px grey;
    clear: both;
}

main {
    width: 80vw;
    max-width: 1200px;
    margin: 5px;
    padding: 5px;
    margin-left: 5vw;
}

section {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

aside {
    box-sizing: border-box;
    height: 100%;
    max-width:200px;
    width: 10vw;
    float: right;
    position: sticky;
    top: 75px;
}

h1, h2, h3, h4 {
    clear: both;
}

.left-title {
    text-align: center;
}

.right-title {
    text-align: center;
}


figure {
    text-align: center;
}

.left-image {
    float: left;
    padding: 5px;
    margin: 5px;
}

.right-image {
    float: right;
    padding: 5px;
    margin: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: medium;
    border-radius: 5px;
    border-color: #B82214;
    border-style: double;
    box-shadow: 5px 5px 5px 5px grey
}

#thanks-img {
    display:block;
   width: 30%;
   margin-left: auto;
   margin-right: auto;
}

#thanks-para {
    text-align: center;
}

.bios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.bio {
    border: medium;
    border-radius: 5px;
    border-color: #340D09;
    border-style: double;
    text-align: center;
    box-shadow: 5px 5px 5px 5px grey;
    margin-bottom: 25px;
}


.left-pic {
    align-self: flex-start;

}

.right-pic {
    align-self: flex-end;
    
}
/*.sitelink {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}*/

.flexnav {
    height:75px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.nav-list {
    list-style:none;
    display: flex;
}

.list-style {
    list-style: none;
}

.signin {
   align-self: flex-end;
   flex: auto;
}
/*
footer {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.left-column {
    align-self: flex-start;
    flex:auto;

}
.center-column {
    align-self:center;
    flex: auto;
}

.right-column {
    align-self: flex-end;
    flex:auto;
}

.footer-list {
    list-style:none;
    text-align: center;
}*/

#copyrightimg {
    width:100px;
}

.container {
    display: grid;
    grid-template-rows: 75px auto 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


header {
    grid-column: 2 / 6;
    grid-row: 1;
}


nav {
    grid-column: 1;
    grid-row: 2;
}

.nav-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

main {
    grid-column: 2 / 5;
    grid-row: 2;
}

aside {
    grid-column: 6;
    grid-row: 2;
}

footer {
    grid-column: 1 / 6;
    grid-row: 4;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
}

.footer-left {
    grid-column: 1;
    grid-row: 1;
}

.footer-center {
    grid-column: 2;
    grid-row: 1;
}

.footer-right {
    grid-column: 3;
    grid-row: 1;
}

