header, footer, nav, section {
    background-color: #FBA90A;
}


header {
    background-color: #342609;
    color: #FBA90A;
}

footer {
    background-color:#342609;
    color: black;
}

nav {
    background-color:#342609;
    color: black;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight:700;
    color: #FBA90A;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight:700;
    color: #F7D4F6;
}

h3, h4, h5, h6 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color:#342609;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    color:#9A0794;
}

table {
    color: #342609;
}

.topics {
    background-color:#559E54;
    color:#342609;
}

#webmaster {
    color: #9A0794;
}
a:link { color:#FBA90A; } /* unvisited link */
a:visited { color:#F7D4F6; } /* visited link */
a:hover { color:#9A0794; } /* mouse over link */
a:active { color:#559E54; }  /* selected link */