header, footer, nav, section {
    background-color: #E3F7D4;
}


header {
    background-color: #E3F7D4;
    color: #B82214;
}

footer {
    background-color:#E3F7D4;
    color: #B82214;
}

nav {
    background-color:#66B032;
    color: #341C09;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight:700;
    color: #B82214;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight:700;
    color: #340D09;
}

h3, h4, h5, h6 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: #340D09;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    color:#B82214;
}

table {
    color: #340D09;
}

.topics {
    background-color:#66B032;
    color:#340D09;
}

#webmaster {
    color: #340D09;
}

img {
    width: 100px;
    height: 150px;
}
a:link { color:black; } /* unvisited link */
a:visited { color: rgba(110, 5, 5, 0.446); } /* visited link */
a:hover { color: blue; } /* mouse over link */