header, footer, nav, section {
    background-color: lightcyan;
}


header {
    background-color: rgb(237, 237, 194);
    color: black;
}

footer {
    background-color: rgb(237, 237, 194);
    color: black;
}

nav {
    background-color: yellow;
    color: black;
}

section {
    background-color: rgb(255, 222, 228);
    color: black;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight:700;
    color: black;
}

h3, h4, h5, h6 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color:rgb(107, 16, 16);
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    color:rgb(107, 16, 16);
}

.content {
    background-color:beige;
}

a:link { color:#FF0000; } /* unvisited link */
a:visited { color:#222222; } /* visited link */
a:hover { color:#015210; } /* mouse over link */
a:active { color:#0000FF; }  /* selected link */