body {
    display: grid;
    grid-template-rows: [header-start] 1fr [content-start] auto [footer-start] 1fr;
    grid-template-columns: [nav] 1fr [section] 3fr [aside] 1fr;
    grid-template-areas:
      "head head head"
      "nav section aside"
      "foot foot foot";
  }
  
  header {
    grid-area: head;
  }
  
  footer {
    grid-area: foot;
  }
  
  nav {
    grid-area: nav;
    padding: 2em;
    border-right: 2px solid red;
  }